  *{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
   
}

.card{
    position :absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 200px;
    width: 220px;
    border-radius: 20px;
    border: 1px solid salmon;
    background-color: aqua;
    border: none;
    overflow: hidden;
    z-index: 12;animation: spin 2s linear infinite;
}
#card1{
  border-radius: 60%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8MS4A69bPQNh_vYyyRLmAp72CdYuEi-_gNw&s");
}
#card2{
height: 250px;
    width: 250px;
   border-radius: 50%;
    background-size: cover;
    z-index: 10;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStJ3LDeBWeOD_rCT-ERlnQXeiXIXLUssr5ow&s");
    animation: spin3 2s linear infinite;
}
#card3{
height: 300px;
    width: 300px;
    background-color: brown;
    border-radius: 50%;
    z-index: 9;
     animation: spin2 2s linear infinite;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS6cAzQmsVb2lQ-rNNx_-Ae28vfIA3OBV3cg&s")
}

#card4{
    animation: spin1 2s linear infinite;
    background-color: chocolate;
height: 350px;
    width: 350px;
    border-radius: 50%;
    z-index: 6;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkByQlMK1QZ87FYA3sz9jxbFU4sWkIYnzoStZ9ncCJp0Vcd4iIoCAMM-R-_kkPoGB9Ar4&usqp=CAU");
}
    #card2:hover{
    z-index: 20;

}
#card3:hover{
    z-index: 30;
    
}
#card4:hover{
    z-index: 20;
     
}
#card1:hover{
    z-index: 30;
  
      

}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}@keyframes spin2 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}@keyframes spin3 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
